.about{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
   
}

.title{
    margin: 0 5% 0 5%;

}

.text{
    margin: 0 7.5% 0 7.5%;
}

ul{
    text-align: left;
    margin-left: 6%;
list-style: disc;
}

li{
    font-size: clamp(0.4rem, 4vw, 0.8rem);
}

.text p{
    max-width: 100%;
    width: inherit;
    margin-top: 0px;
    margin-bottom: 0.8rem;
    text-align: start;
    line-height: 1.3rem;
    font-size: clamp(0.8rem, 8vw, 1.1rem);
}

.text span{
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0.8rem;
    text-align: start;
    line-height: 2rem;
    font-size: 0.8rem;
    line-break: anywhere;
    word-wrap: break-word;
}

.bottomAbout {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */ /* Remove this line */
    /* height: 96%; */
    width: 100%;
}

.bottomAbout h3{
    text-align: center;
    
    font-size: clamp(0.8rem, 8vw, 1.3rem);
}

.skills {
    flex: 1;
    margin-left: 7.5%;
    /* Remove display: flex; */
    margin-right: 2%;
}



.skills span{
    text-align: left;
    font-size: clamp(0.3rem, 4vw, 1.1rem);

}

.experience {
    --angle: 0deg;
    /* overflow-y: auto;
    max-height: 300; */
    flex: 1;
    /* Remove display: flex; */
    border-left: 2px solid;
    border-image: linear-gradient(var(--angle), rgb(78, 78, 206), darkorchid) 1;
    animation: 5s rotate linear infinite;
}


.experience span{
    width: 100%;
    text-align: left;
    font-size: clamp(0.3rem, 4vw, 1.0rem);
    

}

@keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }